<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:bs="http://typo3.org/ns/LBRmedia/Bootstrap/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:section name="Default"><f:spaceless>
    <footer class="mt-auto border-top border-dark pt-3 bg-light">
        <div class="container-xl">
            <div class="row g-0 justify-content-md-between">
                <f:variable name="col_classes" value="col-sm-6 col-md-auto" />
                <f:if condition="{footer_menu_text -> f:count()}">
                    <bs:Tag tag="nav" forceClosingTag="true" additionalAttributesIfNotEmpty="{
                        class:col_classes,
                        aria-labelledby:'{f:if(condition:footer_menu_text_label.0, then:\'footer-menu-text-label\')}'
                    }">
                        <f:if condition="{footer_menu_text_label.0}">
                            <div id="footer-menu-text-label" class="h4 mb-0"><f:render partial="Navigation/Link" section="Default" arguments="{item:footer_menu_text_label.0}" /></div>
                        </f:if>
                        <f:render partial="Navigation/OneLevel" section="Default" arguments="{items:footer_menu_text}" />
                    </bs:Tag>
                </f:if>
                <f:if condition="{footer_menu_textmedia_label -> f:count()}">
                    <bs:Tag tag="nav" forceClosingTag="true" additionalAttributesIfNotEmpty="{
                        class:col_classes,
                        aria-labelledby:'{f:if(condition:footer_menu_textmedia_label.0, then:\'footer-menu-textmedia-label\')}'
                    }">
                        <f:if condition="{footer_menu_textmedia_label.0}">
                            <div id="footer-menu-textmedia-label" class="h4 mb-0"><f:render partial="Navigation/Link" section="Default" arguments="{item:footer_menu_textmedia_label.0}" /></div>
                        </f:if>
                        <f:render partial="Navigation/OneLevel" section="Default" arguments="{items:footer_menu_textmedia}" />
                    </bs:Tag>
                </f:if>
                <f:if condition="{footer_menu_specials -> f:count()}">
                    <bs:Tag tag="nav" forceClosingTag="true" additionalAttributesIfNotEmpty="{
                        class:col_classes,
                        aria-labelledby:'{f:if(condition:footer_menu_specials_label.0, then:\'footer-menu-specials-label\')}'
                    }">
                        <f:if condition="{footer_menu_specials_label.0}">
                            <div id="footer-menu-specials-label" class="h4 mb-0"><f:render partial="Navigation/Link" section="Default" arguments="{item:footer_menu_specials_label.0}" /></div>
                        </f:if>
                        <f:render partial="Navigation/OneLevel" section="Default" arguments="{items:footer_menu_specials}" />
                    </bs:Tag>
                </f:if>
                <f:if condition="{footer_menu_contact -> f:count()}">
                    <bs:Tag tag="nav" forceClosingTag="true" additionalAttributesIfNotEmpty="{
                        class:col_classes,
                        aria-labelledby:'{f:if(condition:footer_menu_contact_label.0, then:\'footer-menu-contact-label\')}'
                    }">
                        <f:if condition="{footer_menu_contact_label.0}">
                            <div id="footer-menu-contact-label" class="h4 mb-0"><f:render partial="Navigation/Link" section="Default" arguments="{item:footer_menu_contact_label.0}" /></div>
                        </f:if>
                        <f:render partial="Navigation/OneLevel" section="Default" arguments="{items:footer_menu_contact}" />
                    </bs:Tag>
                </f:if>
            </div>
        </div>
        
        <div class="container-xl">
            <div class="border-top border-dark row row-cols-sm-auto g-0 pt-3 pb-2 pb-sm-3 justify-content-between align-items-center">
                {footer_copyright -> f:format.raw()}
                <f:if condition="{footer_menu_legal -> f:count()}">
                    <bs:Tag tag="nav" forceClosingTag="true" additionalAttributesIfNotEmpty="{
                        class:'nav',
                        aria-label:'{f:if(condition:footer_menu_legal_label.0, then:\'{footer_menu_legal_label.0.title}\')}'
                    }">
                        <f:render partial="Navigation/OneLevel" section="Default" arguments="{items:footer_menu_legal, additionalClass:' nav'}" />
                    </bs:Tag>
                </f:if>
            </div>
        </div>

        <div class="py-3 text-white bg-dark">
            <div class="container-xl">
                {footer_creator -> f:format.raw()}
            </div>
        </div>
    </footer>
</f:spaceless></f:section>

</html>